{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong> {{ user.username }} </strong>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
         <ul id="dropdown2" class="dropdown-content">
    <li><a href="{% url 'category' 1 %}">Category 1</a></li>
    <li><a href="{% url 'category' 2 %}">Category 2</a></li>
    <li><a href="{% url 'category' 3 %}">Category 3</a></li>
  </ul>
        <ul class="nav">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
  <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Categories<i class="material-icons right">arrow_drop_down</i></a>
  <li class="nav-item">
                <a class="nav-link" href="{% url 'deactive_listing_view' %}">Won Listings</a>
            </li>
            
            
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist' %}">Watchlist</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_created' %}">Your Listings</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Create Listings</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        <div class="container">
        {% block body %}
        {% endblock %}
    </body>
    <script type="text/javascript">M.AutoInit();</script>
</html>
